{% for article in last_articles_anime %}
    <div class="containerManga">
        <div class="articles">
            <a href="#">
                <img src="{{ article.coverPicture }}" alt="Image d'accueil de {{ article.title }}" title="Image du manga {{ article.title }}" />
            </a>
            <h3>{{ article.anime.title }}<br/>
            {{ article.title }}</h3>
        </div>
    </div>
{% endfor %}