<div class="information-bloc--container">
  <div class="information-bloc--body">
    <h3>{{ title }}</h3>

    <div>{{ content }}</div>

    <a href="#">{{ linkName }}</a>
  </div>

  <div class="information-bloc--picture">
    <img src="{{ picture }}"
         alt="{{ title }}"
         title="{{ title }}" />
  </div>
</div>