{% extends 'base_staff.html.twig' %}

{% block title %}Ajouter une nouvelle news{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/selectize.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/selectize.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.selectize').selectize();
        });
    </script>
{% endblock %}


{% block body %}
{% if app.user %}
    <h2>Ajouter une nouvelle news à l'interface du site</h2>
    <hr>
    <div class="commentArea w-100">
        {{ form_start(form) }}

        {{ form_row(form.title_news) }}

        {{ form_row(form.description_news) }}

        {{ form_row(form.content_news) }}

        {{ form_row(form.image) }}

        {{ form_row(form.categories) }}

        {{ form_row(form.keywords_news) }}

        <button type="submit" class="btn btn-outline-primary mt-4 w-100">Publier la news sur le site</button>

        {{ form_end(form) }}
    </div>
{% endif %}

{% endblock %}