{% extends 'base_staff.html.twig' %}

{% block title %}Gestion des news{% endblock %}

{% block body %}

<h1 style="font-family: 'Poppins'">Dernières news</h1>
<a href="{{ path('admin_news_created') }}">Ajouter une nouvelle news</a>
<table class="table text-light table-sm">
    <thead>
        <tr>
            <th width="2%">#</th>
            <th width="17%">Titre</th>
            <th width="9%">Slug</th>
            <th width="15%">Description</th>
            <th width="9%">Catégories</th>
            <th width="9%">Auteur</th>
            <th width="5%">Date de création</th>
            <th width="5%">Date de mise à jour</th>
        </tr>
    </thead>
    <tbody>
        {% for new in news %}
            <tr>
                <td></td>
                {# <td><a href="{{ path('news_show', {'slug': new.slug}) }}" target="_blank">{{ new.id }}</td> #}
                <td>{{ new.titleNews }}</td>
                <td>{{ new.slug }}</td>
                <td>{{ new.descriptionNews|u.truncate(60) }}...</td>
                <td>
                {% for category in new.categories %}
                    <a href="{{ path('category_show', {'slug': category.slug}) }}" target="_blank">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                <td><a href="{{ path('app_user', {'id': new.author.id}) }}" target="_blank">{{ new.author.username }}</a></td>
                <td>{{ new.createdAt|date("d/m/Y") }}</td>
                <td>{{ new.updatedAt|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}