{% for new in news %}
    <article class="newsCard">
        <div class="newsImage">
            <img src="/uploads/{{ new.image.filename }}" alt="{{ new.image.altText }}" class="imageNews" />
        </div>
        <div class="contentNews">
            <h2 class="titleNews">{{ new.titleNews }}</h2>
            <p class="descriptionNews">{{ new.descriptionNews|raw }}</p>
        </div>
        <div class="footerNews">
            <a href="{{ path('news_show', {'slug': new.slug}) }}" class="linkArticle">Lire l'article</a>
        </div>
    </article>
{% endfor %}