{% extends 'base_without_banner.html.twig' %}

{% block title %}{{ news.titleNews }}{% endblock %}

{% block additional_head %}
    {{ parent() }}
    <meta name="description" content="{{ news.descriptionNews }}">

    <!-- Balises de Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MangasFanOff">
    <meta name="twitter:creator" content="@MangasFanOff">
    <meta name="twitter:title" content="{{ news.titleNews }} - Mangas'Fan">
    <meta name="twitter:description" content="{{ news.descriptionNews }}">
    <meta name="twitter:image" content="https://zupimages.net/up/23/01/dblx.png">
    <meta name="twitter:url" content="https://www.mangasfan.fr/news/{{ news.slug }}">

    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.mangasfan.fr/news/{{ news.slug }}">
    <meta property="og:title" content="{{ news.titleNews }} - Mangas'Fan">
    <meta property="og:description" content="{{ news.descriptionNews }}">
    <meta property="og:image" content="https://zupimages.net/up/23/01/dblx.png">
    <meta property="og:image:alt" content="{{ news.titleNews }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('news-requests') }}
    {{ encore_entry_script_tags('news') }}
{% endblock %}

{% block body %}
<section>
    <div class="bloc-one-news">
        <img src="https://zupimages.net/up/23/01/dblx.png" class="banner-news" />

        <div>
            <h1 class="title-one-new">{{ news.titleNews }}</h1>
            <hr align="left" class="hr-one-news">
            <div class="info-about-news">
                <div>
                    <span class="author-one-news">
                        Par <span><a href="{{ path('app_user', {'id': news.author.id }) }}" class="link-user-news">
                        {{ news.author.username }}</a></span> - {% for roles in news.author.roles %} {{ roles|replace({'ROLE_ADMIN': 'Administrateur,', 'ROLE_NEWSEUR': "Newseur," , 'ROLE_USER': "Membre"}) }} {% endfor %}
                    </span>
                </div>

                <div>
                    <span class="date-news">News redigée le {{ news.createdAt|date("d/m/Y à H:m") }}
                </div>
            </div>

            <hr class="hr-top">

            {# {% for category in news.categories %}
                <a href="{{ path('category_show', {'slug': category.slug}) }}"><button class="buttonCategory" style="background-color: {{ category.color }}">{{ category.name }}</button></a>
            {% endfor %} #}

            <article class="content-one-news">
                {{ news.contentNews|raw }}
            </article>

            Likes: <span id="total-like">{{ number_likes }}</span>
            Dislikes: <span id="total-dislike">{{ number_dislikes }}</span>
            {% if app.user %}
            <i id="button-like" class="fa-solid fa-xl fa-thumbs-up  {{ own_reaction is same as(true) ? 'active' : '' }}" onclick="reactNews({{ news.getId() }}, 'like')"></i>
            <i id="button-dislike" class="fa-solid fa-xl fa-thumbs-down {{ own_reaction is same as(false) ? 'active' : '' }}" onclick="reactNews({{ news.getId() }}, 'dislike')"></i>
            {% endif %}
            <br/>
            <a href="https://twitter.com/share?url=https://www.mangasfan.fr/news/{{ news.slug }}&amp;text={{news.titleNews}} - @MangasFanOff : " target="_blank" class="twitter-button">
                <i class="fa-brands fa-xl fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.mangasfan.fr/news/{{ news.slug }}" target="_blank" class="facebook-button">
                <i class="fa-brands fa-xl fa-facebook"></i>
            </a>
            <h2 class="title-comments">Commentaires</h2>

            {% if app.user %}
                <div class="comment-area">
                    {{ form(comment_form, { 'attr': { 'class': 'comment-form' } }) }}
                </div>
            {% endif %}

            <div class="comments-list">
                {% for comment in news.comments %}
                    {% include 'comments/index.html.twig' with [comment] %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
