{% for manga in last_mangas %}
    <div class="containerManga">
        <div class="mangas">
            <a href="#">
                <img src="{{ manga.coverTome }}" alt="Image d'accueil de {{ manga.nameTome }}" title="Image du manga {{ manga.nameTome }}" />
            </a>
            <h3>{{ manga.nameTome }}<br/>
            {{ manga.idManga.title }}</h3>
        </div>
    </div>
{% endfor %}