<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Mangas'Fan</title>
    <link rel="icon" type="image/x-icon" href="https://www.mangasfan.fr/v8/images/logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a href="{{ path('app_home') }}">
                    <span>Site</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a href="{{path('app_index_staff')}}">
                    <span>Index admin</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a href="{{ path('admin') }}">
                    <span>Admin EasyAdmin</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a href="{{ path('admin_news') }}">
                <span>News</span>
                </a>
            </li>
            </ul>
        </div>
        <div class="app-content w-100">
            <div class="search-bar">
                Connecté en tant que <span class="text-danger">{{ app.user.username }}</span> ! Pannel admin test 1.0
            </div>
            <div class="content m-5">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>