{% extends 'base.html.twig' %}

{% block title %}Se connecter au site{% endblock %}

{% block body %}
<section>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Me connecter au site</h1>
        <label for="inputUsername">Nom d'utilisateur : </label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="Saisir votre nom d'utilisateur">
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Saisir votre mot de passe">

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="buttonComment" type="submit">
            Me connecter
        </button>

        <a href="{{ path('connect_google') }}" class="btn btn-google">S'inscrire avec Google</a>
        <a href="{{ path('connect_discord') }}" class="btn btn-google">S'inscrire avec Discord</a>
    </form>
</section>
{% endblock %}
